body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

li:hover {
    background: #ececec;
}

.btn-selesai {
    background: green;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-selesai:hover {
    background: darkgreen;
}

.btn-hapus {
    background: white;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-hapus:hover {
    background: darkred;
}

.done {
    text-decoration: line-through;
    color: gray;
    background: #e0e0e0 !important;
}